<h1 class="nadpis1">Upravit reřiséra</h1>

<%= render "form", director: @director %>

<div style="margin-top: 20px;">
  <%= link_to "Ukázat tohoto režiséra", @director, class:"btn btn-outline-dark" %> 
  <%= link_to "Zpět na ražiséry", directors_path, class:"btn btn-outline-dark" %>
</div>
