<h1>Upravit reřiséra</h1>

<%= render "form", director: @director %>

<br>

<div>
  <%= link_to "Ukázat tohoto režiséra", @director, class:"btn btn-outline-dark" %> 
  <%= link_to "Zpět na ražiséry", directors_path, class:"btn btn-outline-dark" %>
</div>
