

<%= render @director %>

<div>
  <%= link_to "Upravit tohoto režiséra", edit_director_path(@director), class:"btn btn-outline-dark" %> 
  <%= link_to "Zpět na režiséry", directors_path , class:"btn btn-outline-dark" %>

  <%= button_to "Odstranit tohoto režiséra", @director, method: :delete, class:"btn btn-danger" %>
</div>
