.flexbox-container {

	display: flex;
	margin-bottom: 10px;


}

.flexbox-item {

	margin: 5px;


}

.flexbox-item-4 {

	align-content: flex-end;
	font-size: 20px;
	

}

.btn {
	font-size: 20px;
}

.nav-item {
	margin: 8px;
}

.nadpis1 {

	margin-top: 10px;

}

.star-review {

	margin-right: 5px;

}

.redirect-button {
	margin: 10px;
}